#bio-image {max-width: 100%;
height:auto;
}

#li-index {width: 100%;
height: auto;
margin: auto 20px;}

#gh-index {max-width: 100%;
height: auto;
margin-right: 20px;}

#so-index {max-width: 100%;
height: auto;
position: relative;
top: 3px;}

#li-con {width: 55px;
height: 55px;
margin: auto 20px;}

#gh-con {width: 55px;
height: 55px;
margin-right: 20px;}

#so-con {width: 50px;
height: 50px;
margin-right: 20px;
position: relative;
top: 3px}

#giraffe {max-width: 300px;
height: auto;}

#bar {max-width: 300px;
height: auto;}

#city {max-width: 300px;
height: auto;}

#turn {max-width: 300px;
    height: auto;}

#swing {max-width: 300px;
    height: auto;}

.llabell {background-color: #c8c8c8;
color: #272b30;
    position: relative;
bottom: 150px;
padding: 20px;
text-align: center;
width: 300px;}

#jason {color: #272b30;
z-index: 5}

.highh {background-color: #c8c8c8;
z-index: 1}

a:link#linkss {color: #272b30;
    text-decoration: none;}
    
    a:visited#linkss {color: #7E8A99;
    text-decoration: none;}
    
    a:hover#linkss {background-color: #6CFBFF;
    text-decoration: none;}
    
    a:active#linkss {color: black;
    text-decoration: none;}

a:link#ind {color: #272b30;
        text-decoration: none;}
        
        a:visited#ind {color: #7E8A99;
        text-decoration: none;}
        
        a:hover#ind {background-color: #6CFBFF;
        text-decoration: none;}
        
        a:active#ind {color: black;
        text-decoration: none;}

a:link#port {color: #272b30;
            text-decoration: none;}
            
        a:visited#port {color: #7E8A99;
            text-decoration: none;}
            
        a:hover#port {background-color: #6CFBFF;
            text-decoration: none;}
            
        a:active#port {color: black;
            text-decoration: none;}

a:link#cont {color: #272b30;
                text-decoration: none;}
                
                a:visited#cont {color: #7E8A99;
                text-decoration: none;}
                
                a:hover#cont {background-color: #6CFBFF;
                text-decoration: none;}
                
                a:active#cont {color: black;
                text-decoration: none;}

                a:link#act {color: black;
                    text-decoration: none;}
                    
                    a:visited#act {color: black;
                    text-decoration: none;}
                    
                    a:hover#act {background-color: #6CFBFF;
                    text-decoration: none;}
                    
                    a:active#act {color: black;
                    text-decoration: none;}